# General
.DS_Store
*.log
logs
*.swp
*.bak
*.tmp
*.sublime*
.idea/
.vscode/
*.iml

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# iOS
ios/
**/ios/build/
**/ios/Pods/
**/ios/*.xcworkspace
**/ios/*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
**/ios/*.xcodeproj/xcuserdata/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
xcuserdata/

# Android
android/
.gradle/
.gradle_history
*.ap_
*.iml
*.aar
*.dex
*.class
*/*/bin
*/*/gen
*.apk
/output.json

# Bundler
*.gem
*.rbc
/.config
/.yardoc
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle/
.rvmrc
.ruby-version
.ruby-gemset

# Bundle artifact
/gem/*.gem
/.bundle/
/vendor/bundle/
/lib/bundler/man/

# Environment normalization:
/.bundle/
/vendor/bundle
/ruby/*/gems/*.gem
/Gemfile.lock
/.yardoc/
/_yardoc/
/doc/
/spec/doc/
/pkg/
/.gemtest


Gemfile
.node-version
.prettierrc.js
.watchmanconfig
babel.config.js
.eslintrc.js